TELEGRAM_TOKEN = "7621760187:AAEm2UX_mFImkNlZOH0jvICq9g5mDueBTOQ"
OPENAI_API_KEY = "sk-proj-m5_JKnqwMs0Yzjd_-AE9YVyF9x0AFvgflLa1Icg5MS70uUsHzD5Va4rEknlweij1XDFMP3DHPmT3BlbkFJAt1tBsWy65yryrotJQSj-Cl9qy9usnsgm9gYwuHNypoRPT13keZpanp0Mf6A1x2WnKMdzRFbwAt"
SUPABASE_URL = "https://hugavcfrqwevvofcgzlj.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1Z2F2Y2ZycXdldnZvZmNnemxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1NzQ5OTIsImV4cCI6MjA1ODE1MDk5Mn0.vgk7qmIQ-TOePtCfu9CEEZijVnfn8lE0UpJ1KE8edFE"